*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  position:relative;
  font-family: system-ui, sans-serif;
  font-size: 14px;
  color:#434343;
}
body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
a:active, a:hover{
  color:#434343;
}
img{
  width: 100%;
  height: auto;
}
ul li{
  list-style: none;
}

.dashboard{
  min-height: 100vh;
  background-color: silver;
}
.aside{
  width:250px;
  background-color: #a79f9f;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
}
.aside_logo{
  display: block;
  text-align: center;
  padding:5px;
  background-color: #fff;
  margin:5px;
  border-radius:6px
}
.dashboard_right{
  padding-left: 250px;
  min-height: 100vh;
}