*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  position:relative;
  font-family: system-ui, sans-serif;
  font-size: 14px;
  color:#434343;
}
body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
a:active, a:hover{
  color:#434343;
}
img{
  width: 100%;
  height: auto;
}
ul li{
  list-style: none;
}

.dashboard{
  min-height: 100vh;
  background-color: silver;
}
.aside{
  width:250px;
  background-color: #02062b;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  z-index: 10;
}
.aside_logo{
  display: block;
  text-align: center;
  padding:5px;
  background-color: #fff;
  margin:5px;
  border-radius:6px;
}
.aside_menu{
  margin-top: 35px;
}
.aside_list{
  margin-bottom: 5px;
  margin-left:10px;
  margin-right:10px;
}
.aside_list a{
  display: block;
  color:#fff;
  padding:8px 10px;
  transition:.2s;
  border-radius: 8px;
}
.aside_list a:hover{
  background-color: #0000004f;
}
.dashboard_right{
  padding-left: 250px;
  min-height: 100vh;
}
.dashbaord_nav{
  background-color: #fff;
  padding:5px 10px;
}
.dashbaord_nav_avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  height:50px;
  width: 50px;
  border-radius:50%;
  background-color: #eee;
  
}
.dashbaord_nav_avatar span{
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius:50%;
  border:1px solid #000
}
.dashbaord_nav_avatar span:before{
  content:'';
  position: absolute;
}