*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  position:relative;
  font-family: system-ui, sans-serif;
  font-size: 14px;
  color:#434343;
}
body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
a:active, a:hover{
  color:#434343;
}
img{
  width: 100%;
  height: auto;
}
ul li{
  list-style: none;
}
input[type="search"], 
input[type="text"], 
input[type="date"]{
  padding:5px 10px;
  border-radius:5px;
  border:1px solid silver
}
input:focus, select:focus{
  outline: none;
}

.dashboard{
  min-height: 100vh;
  background-color: #dbd4d4;
}

.dashboard_right{
  min-height: 100vh;
}
.dashbaord_nav{
  background-color: #fff;
  padding:5px 10px;
  display: flex;
  align-items:center;
  justify-content: flex-end;
  z-index: 1000;
  position: sticky;
  top:0;
  left:0;
}
.dashbaord_nav_avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  height:50px;
  width: 50px;
  border-radius:50%;
  background-color: #eee;
  
}
.dashbaord_nav_avatar span{
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius:50%;
  border:1px solid #000
}
.dashbaord_nav_avatar span:before{
  content:'';
  position: absolute;
  height: 8px;
  width: 12px;
  border:1px solid;
  left:50%;
  transform: translateX(-50%);
  top:8px;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main{
  padding:10px;
}
.main_header_title{
  font-size: 1.6rem;
}
.box{
  min-height: calc(100vh - 180px);
  background-color: #fff;
  border-radius:5px;
  padding:10px;
  margin-top:20px
}
.box.box-center{
  display: flex;
  align-items:center;
  justify-content: center;
}

.main_header{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-bottom:20px;
}
.main_header_actions{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.main_header_actions_btn{
  padding:5px 10px;
  border-radius:5px;
  border:1px solid silver;
  background-color: #fff;
  cursor: pointer;
  transition: .2s;
}
.main_header_actions_btn:hover{
  background-color:blue;
  color:#fff;
}
.main_header_actions_right{
  display: flex;
  align-items:center;
  gap:5px;
}
.rounded-btn{
  border-radius:50%;
  border:1px solid silver;
  background-color: #fff;
  cursor: pointer;
  transition: .2s;
  cursor:pointer;
  width: 30px;
  height: 30px;
}
.rounded-btn.del:hover{
  background-color:red;
  color:#fff;
}
.rounded-btn.see-more:hover{
  background-color:blue;
  color:#fff;
}
.rounded-btn.modify:hover{
  background-color:rgb(172, 172, 14);
  color:#fff;
}
.rounded-btn.validate:hover{
  background-color:green;
  color:#fff;
}
.main_header_actions_right_filter{
  padding:5px 10px;
  border-radius:5px;
  border:1px solid silver;
  background-color: #fff;
}

.main-task__content{
  margin-top:20px;
}
.main-task__content-item{
  background-color:#fff;
  padding:10px;
  border-radius:5px;
  border:1px solid silver
}
.main-task__content-item__title{
  font-size: 1.2rem;
  font-weight: 600;
}
.main-task__content-item__desc{
  font-size: .8rem;
  line-height: 1.2rem;
  margin-top:10px;
  margin-bottom:10px;
}
.main-task__content-item__date{
  font-size: .8rem;
  text-align: right;
  font-style: italic;
}

.main-task__content-item__actions{
  display: flex;
  justify-content: space-between;
}