*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  position:relative;
  font-family: system-ui, sans-serif;
  font-size: 14px;
  color:#434343;
}
body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
a:active, a:hover{
  color:#434343;
}
img{
  width: 100%;
  height: auto;
}
ul li{
  list-style: none;
}

.dashboard{
  min-height: 100vh;
  background-color: #dbd4d4;
}


.aside_list{
  margin-bottom: 5px;
  margin-left:10px;
  margin-right:10px;
}
.aside_list a{
  display: block;
  color:#fff;
  padding:8px 10px;
  transition:.2s;
  border-radius: 8px;
}
.aside_list a:hover, .aside_list a.active{
  background-color: #0000004f;
}
.dashboard_right{
  min-height: 100vh;
  transition: .2s;
}
.dashbaord_nav{
  background-color: #fff;
  padding:5px 10px;
  display: flex;
  align-items:center;
  justify-content: flex-end;
  z-index: 1000;
  position: sticky;
  top:0;
  left:0;
}
.dashbaord_nav_avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  height:50px;
  width: 50px;
  border-radius:50%;
  background-color: #eee;
  
}
.dashbaord_nav_avatar span{
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius:50%;
  border:1px solid #000
}
.dashbaord_nav_avatar span:before{
  content:'';
  position: absolute;
  height: 8px;
  width: 12px;
  border:1px solid;
  left:50%;
  transform: translateX(-50%);
  top:8px;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main{
  padding:10px;
}
.box{
  min-height: calc(100vh - 100px);
  background-color: #fff;
  border-radius:5px;
  padding:10px;
}
.box.box-center{
  display: flex;
  align-items:center;
  justify-content: center;
}


@media (max-width:991px){
  /* .aside{
    left:-300px;
  }
  .dashboard_right{
    padding-left:0;
  } */
}